[user]
	email = natalia@nataliafonseca.dev
	name = Natália Fonseca
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesFile = ~/.dot/git/.gitignore
[rebase]
	autoStash = true
[push]
	followTags = true
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[alias]
	c = !git add --all && git commit -m
	s = !git status -s
	l = !git log --pretty=format:'%C(yellow)%h%C(red)%d %C(white)%s - %C(cyan)%cn%C(white), %C(green)%cr'
	r = !git reset --soft
	amend = !git add --all && git commit --amend --no-edit
	count = !git shortlog -s --grep
	resync = !git fetch origin && git reset --soft
	hardsync = !git fetch origin && git reset --hard
	discard = !git reset --hard HEAD && git clean -fd


[includeIf "gitdir:Nutrien/"]
	path = ~/.dot/git/.nutrien.gitconfig
[includeIf "gitdir:Iteris/"]
	path = ~/.dot/git/.iteris.gitconfig
